<h1 style="color: red; text-align: center">Phase 02 - Create Database, Tables & Inserting the Data</h1>
<hr width: 5px>
<h3>‚ùñ Author:</h3>
<p>TATI Mohammed</p>
<p style="text-align: right;"><b>29-JAN | <span style="color: green;">2023</span></b></p>

<h2 style="color: green">Importing libraries required</h2>

In [1]:
import psycopg2 as pc
import pandas as pd

<h2 style="color: green">Data model</h2>

<img src="rsc/data model.PNG" width="600">

<h2 style="color: green">Creating the Database & the Tables</h2>

In [2]:
def create_db():
    
    # Connecting the default database
    conn = pc.connect("host=127.0.0.1 dbname=postgres user=postgres password=24042002")
    conn.set_session(autocommit=True)
    cur = conn.cursor()
    
    # Creating our database
    try:
        cur.execute("CREATE DATABASE amazon")
        # Closing the connection to the default database
        conn.close()
    except pc.Error as e:
        return e
    
    # Connecting to the new database
    try:
        conn = pc.connect("host=127.0.0.1 dbname=amazon user=postgres password=24042002")
        cur = conn.cursor()
        print("Connected to amazon")
    
        return conn, cur
    except pc.Error as e:
        return e

def create_table(cur, conn):
    # Table data
    table_name = input('Enter the name of the table: ')
    cols_types = input("Enter the columns (separeted with comma) with their data types: ")
    table_name = table_name.strip()
    # Creating the table
    try:
        cur.execute("CREATE TABLE IF NOT EXISTS "+table_name+" ("+cols_types+");")
        conn.commit()
        
        return "Table "+table_name+" created!!"
    except pc.Error as e:
        return e

<h3 style="color: blue">Connecting to the database</h3>

In [3]:
conn, cur = create_db()

Connected to amazon

<h3 style="color: blue">Creating the tables</h3>

<h4>Products table</h4>

In [4]:
# product_id VARCHAR(200) PRIMARY KEY,product_name VARCHAR(400),category VARCHAR(400), rating VARCHAR(5)
create_table(cur, conn)

Enter the name of the table: products
Enter the columns (separeted with comma) with their data types: product_id VARCHAR(200) PRIMARY KEY,product_name VARCHAR(400),category VARCHAR(400), rating VARCHAR(5)

'Table products created!!'

<h4>Reviews table</h4>

In [5]:
# review_id VARCHAR(300) PRIMARY KEY,review_title VARCHAR(400),review_content VARCHAR(10000)
create_table(cur, conn)

Enter the name of the table: reviews
Enter the columns (separeted with comma) with their data types: review_id VARCHAR(300) PRIMARY KEY,review_title VARCHAR(400),review_content VARCHAR(10000)

'Table reviews created!!'

<h4>Users table</h4>

In [6]:
# user_id VARCHAR(300) PRIMARY KEY,user_name VARCHAR(400),product_id VARCHAR(200), review_id VARCHAR(300),
# CONSTRAINT fk_product FOREIGN KEY(product_id) REFERENCES products(product_id) ON DELETE SET NULL,
# CONSTRAINT fk_review FOREIGN KEY(review_id) REFERENCES reviews(review_id) ON DELETE SET NULL
create_table(cur, conn)

Enter the name of the table: users
Enter the columns (separeted with comma) with their data types: user_id VARCHAR(300) PRIMARY KEY,user_name VARCHAR(400),product_id VARCHAR(200), review_id VARCHAR(300), CONSTRAINT fk_product FOREIGN KEY(product_id) REFERENCES products(product_id) ON DELETE SET NULL, CONSTRAINT fk_review FOREIGN KEY(review_id) REFERENCES reviews(review_id) ON DELETE SET NULL

'Table users created!!'

<h4>Saving the changes</h4>

In [7]:
conn.commit()

<h2 style="color: green">Inserting the data into the database</h2>

In [8]:
users = pd.read_csv('user.csv')
products = pd.read_csv('product.csv')
reviews = pd.read_csv('review.csv')

In [9]:
# Query to insert the data into users table
into_users = "INSERT INTO users(user_id, user_name, product_id, review_id) VALUES(%s, %s, %s, %s)"

# Query to insert the data into products table
into_products = "INSERT INTO products(product_id, product_name, category, rating) VALUES(%s, %s, %s, %s)"

# Query to insert the data into reviews table
into_reviews = "INSERT INTO reviews(review_id, review_title, review_content) VALUES(%s, %s, %s)"

In [10]:
# Inserting
for i, row in products.iterrows():
    cur.execute(into_products, list(row))

# Saving
conn.commit()

<img src="rsc/product.PNG">

In [11]:
# Inserting
for i, row in reviews.iterrows():
    cur.execute(into_reviews, list(row))

# Saving
conn.commit()

<img src="rsc/review.PNG">

In [12]:
# User data
user_data = pd.concat([users, products[['product_id']], reviews[['review_id']]], axis=1)

# Inserting
for i, row in user_data.iterrows():
    cur.execute(into_users, list(row))

# Saving
conn.commit()

<img src="rsc/user.PNG">

<h4>Closing the connection</h4>

In [13]:
conn.close()

<hr>
<p style="text-align: right">Phase 02 - Create Database, Tables & Inserting the Data
 | <span style="color: green">Successfuly Completed</span></p>